body { background: #8c027c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 28px; display: flex; }
.block-invoice-0 { color: #165ba0; font-size: 17px; margin-bottom: 5px; }
.block-uploader-1 { color: #2b8678; font-size: 19px; margin-bottom: 5px; }
.block-payment-2 { color: #4e778c; font-size: 13px; margin-bottom: 5px; }
.block-cart-3 { color: #392694; font-size: 16px; margin-bottom: 5px; }
.block-session-4 { color: #6891ea; font-size: 13px; margin-bottom: 5px; }
.block-logger-5 { color: #846ac; font-size: 19px; margin-bottom: 5px; }
.block-order-6 { color: #bc9d9d; font-size: 16px; margin-bottom: 5px; }
.block-filter-7 { color: #34320f; font-size: 19px; margin-bottom: 5px; }
.block-uploader-8 { color: #4b52f6; font-size: 19px; margin-bottom: 5px; }
.block-payment-9 { color: #32c907; font-size: 18px; margin-bottom: 5px; }